@tailwind base;
@tailwind components;
@tailwind utilities;

.fancy-button{
  @apply px-6 py-3 text-white rounded-lg overflow-hidden relative isolate;
}
.fancy-button:before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 2px;
    left: 6px;
    right: 6px;
    height: 20%;
    background: linear-gradient(rgb(255, 255, 255), rgba(255, 255, 255, 0));
    border-radius: 20px 20px 100px 100px / 14px 14px 30px 30px;
    pointer-events: none;
    opacity: 0.25;
    transition: opacity 175ms ease 0s;
}
.fancy-button:after{
  @apply content-[''] block w-[200%] aspect-square absolute -z-[1] -top-1/2 -left-1/2 translate-x-1/2 translate-y-1/2;
    animation: btnColorRotate 60s infinite linear;
    background: conic-gradient(
      from 0deg at 50% 50%,
      rgb(252 211 77),
      rgb(245 158 11),
      rgb(180 83 9),
      rgb(245 158 11),
      rgb(252 211 77)
    );
}
@keyframes btnColorRotate {
  from {transform: rotate(0deg);}
  to {transform: rotate(3600deg);}
}
